<div class="home-container">


  <section class="post-section">
    <div class="date-container">
      <p>Fecha </p>
    </div>
    <div class="post-container"> 
      <h1>Novedades</h1>
    </div>
  </section>

  <section class="attendance-section">
    <div class="attendance-container">
      <h2> Asistencia </h2>
      <table>
        <thead>
          <th>Alumnado</th>   
          <th class="hover-text" data-hover="Alumnos presentes">P</th>   
          <th class="hover-text" data-hover="Alumnos ausentes">A</th>   
          <th class="hover-text" data-hover="Alumnos retirados">R</th>
        </thead>
        <tbody>

          <% @students.each do |student| %>
            <tr>
              <td><%= student.decorate.full_name %></td>
              <td>O</td>
              <td>O</td>
              <td>O</td>
            </tr> 
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="attendance-detail-container">
      <h2> Asistencia checkbox </h2>
    </div>
  </section>
</div>