/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap%27%22");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap%22");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap%22");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#modal {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  width: 25rem;
  word-break: break-word;
  border-radius: 0.5rem;
  background-color: #fff;
}

.edit-h1 h1 {
  background: #0090af;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.274);
  z-index: 1;
}

.navbar {
  background-color: #0090af;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-navigation{
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}

.nav-navigation *:hover{
  opacity: 0.7; 
}


.nav-navigation a:visited{
  color: inherit;
}

.burger-menu{
  background-color: #F1F3F3;
  width: 20%;
  height: 95vh;
  position: absolute;
  z-index: 11;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 5px;
  
}

.burger-menu h2{
  color: #0090AF;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #0090AF;
  padding: 10px;
}
.burger-menu p, .burger-menu a{
  padding: 15px;
  color: inherit;
}

.students a,
.home a {
  text-decoration: none;
  color: white;
}

.form-errors {
  color: rgb(160, 2, 2);
  font-size: x-small;
  padding-left: 0.5rem;
  padding-top: 0.125rem;
}

.pagy-nav {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.logged-user strong {
  user-select: none;
}

.logout-container {
  position: absolute;
  bottom: -2rem;
  left: 0;
}
