/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap%27%22");
 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap%22");
 @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap%22");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

 #modal {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    width: 25rem;
    word-break: break-word;
    border-radius: 0.5rem;
    background-color: #fff;
  }
 .edit-h1 h1{
    background: #0090AF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    text-align: center;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
 }
 .modal-background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1;
}

.navbar{
   background-color: #0090AF;
   width: 100%;
   height: 3rem;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.home{
  margin-left:auto;
  margin-right: 1rem;
}

.students{
  margin-left:1rem;
  margin-right:auto;
}

.students a, .home a{
  text-decoration: none;
  color:white;
}

.form-errors {
  color:rgb(160, 2, 2);
  font-size: x-small;
  padding-left: 8px;
  padding-top: 2px;
}