.comment-box {
  border: 0.0625rem solid #dadada;
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  margin: 0.625rem;
}

.border-highlight {
  border-left: 9.6px solid #d95234;
}

.comment-details-style summary {
  list-style: none;
  cursor: pointer;
  position: absolute;
  padding: 0.625rem;
  right: 0;
  top: 0;
}

.comment-details-style summary::-webkit-details-marker {
  display: none;
}

.comment-details-style summary::after {
  content: "";
  background-image: url("assets/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.625rem;
}

details[open] summary::after {
  background-image: url("assets/chevron-down.svg");
}

details[open] summary ~ * {
  animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.form-sub_comment {
  position: relative;
}

.form-btn-sub-comment {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1.2rem;
  border: none;
}

.comment-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.comment-wrapper {
  display: flex;
  gap: 10px;
}

.comment-name {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #0090af;
}

.comment-name span {
  color: black;
  text-transform: capitalize;
}

.comment-body {
  max-width: 100%;
  margin: 0.5rem 0 1rem 0;
  word-wrap: break-word;
}

.comment-day {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #000000;
}
