:root {
  --clr-presente: #4aab88;
  --clr-ausente: #d95234;
  --clr-retirado: #d6c104;
}

.home-container {
  display: flex;
}

.post-section {
  width: 65%;
  margin: 0 20px 20px;
}
.date-container {
  text-align: left;
  margin: 40px 15px 15px;
}
.home-date-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px;
}

.home-date-container .date {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
}
.attendance-section div,
.post-index {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.attendance-section {
  width: 30%;
  margin-right: 20px;
  position: fixed;
  right: 0;
}

.attendance-container h2 {
  text-align: center;
  font-size: 16px;
}

.attendance-container {
  overflow-y: scroll;
  border: 1px solid #cccccc;
  max-height: 400px;
  margin: 17% 10px 10px;
  padding: 20px 0;
  border-radius: 5px;
  position: relative;
}

.attendance-container table thead th:first-of-type {
  padding-top: 30px;
}

.attendance-container table,
.attendance-detail-container table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse;
}

.attendance-container table td,
.attendance-container table th,
.attendance-detail-container td {
  outline: none;
  border: none;
}

.attendance-container table tbody tr:first-of-type {
  border-top: 1px solid;
}

.attendance-container table tbody tr,
.attendance-detail-container tr {
  border-top: 1px solid #cccccc;
}

.attendance-container::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.attendance-container::-webkit-scrollbar-thumb {
  background: #0090af;
  border-radius: 3px;
}

.attendance-container::-webkit-scrollbar-thumb:hover {
  background: #7f7f8d;
}

.attendance-container::-webkit-scrollbar-thumb:active {
  background: #0090af;
}

.attendance-detail-container tr:first-of-type {
  border: none;
}

.attendance-detail-container {
  min-height: 75px;
  max-height: fit-content;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 20px 0;
  position: relative;
}

.attendance-detail-container li {
  list-style: none;
  text-align: left;
  padding: 5px;
}

.attendance-detail-container tr:last-of-type td:first-of-type {
  vertical-align: top;
}

.attendance-detail-container td:first-of-type {
  width: 56.5%;
}

.hover-text {
  position: relative;
}

.hover-text:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 7px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  right: -70%;
  bottom: 110%;
}

.hover-text:hover:before {
  opacity: 1;
  visibility: visible;
}

.attendance-container .comment-details-style summary {
  position: absolute;
  list-style: none;
  cursor: pointer;
  position: absolute;
  padding: 1.2rem 0.625rem 0;
  right: 0;
  top: 0;
}

.attendance-container details[open] summary ~ *,
.attendance-detail-container details[open] summary ~ * {
  animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.attendance-container input[type="radio"] {
  appearance: none;
  background-color: #cccccc;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.attendance-container input[type="radio"]::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.attendance-container .present input[type="radio"]::before {
  box-shadow: inset 1em 1em var(--clr-presente);
}

.attendance-container .missing input[type="radio"]::before {
  box-shadow: inset 1em 1em var(--clr-ausente);
}

.attendance-container .retired input[type="radio"]::before {
  box-shadow: inset 1em 1em var(--clr-retirado);
}

.attendance-container input[type="radio"]:checked::before {
  transform: scale(1);
}

.attendance-detail-container tbody tr:first-of-type td:nth-child(2) {
  color: var(--clr-presente);
}

.attendance-detail-container tbody tr:first-of-type td:nth-child(3) {
  color: var(--clr-ausente);
}

.attendance-detail-container tbody tr:first-of-type td:nth-child(4) {
  color: var(--clr-retirado);
}

.attendance-detail-container tbody tr:nth-child(2) td:last-of-type {
  outline: 1px solid var(--clr-ausente);
}
