.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7%;
}

.div-rectangle {
  width: 55.4375rem;
  height: 36.5rem;
  background: #ffffff;
  box-shadow: -0.4375rem 0.4375rem 1.875rem rgba(0, 76, 92, 0.2);
  border-radius: 0.5rem;
}

.div-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80%;
  text-align: left;
}

.div-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.div-form .d2 .input-label:focus-visible {
  outline: none;
  border: 1px solid #0090af;
}

div.d1 {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-grow: 10;
}

div.d2 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.div-nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  text-align: center;
  color: #000000;
  padding: 0.625rem;
}

.div-nav a:hover {
  color: #0090af;
}

.div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h2.ingresar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.511rem;
  line-height: 1.8125rem;
  text-align: center;
  color: #000000;
}

.btn-ingresar {
  width: 14.5694rem;
  height: 2.5rem;
  left: 51.4931rem;
  top: 37.6875rem;
  background: #0090af;
  border-radius: 0.2159rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  text-align: center;
  color: #ffffff;
}

.btn-ingresar:hover {
  border: 2px solid white;
  cursor: pointer;
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #000000;
  text-align: left;
  padding: 0.3125rem;
}

.input-label {
  left: 52.85%;
  right: 22.22%;
  top: 42.68%;
  bottom: 54.1%;
  background: #fafafa;
  border: 0.0809rem solid #cccccc;
  border-radius: 0.4419rem;
  padding: 0.3125rem;
}

a.ingreso-google {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
}

nav .sesion {
  font-family: "Roboto";
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  text-align: center;
  color: black;
}

nav .current-page {
  color: #0090af;
  font-weight: 500;
  border-bottom: 3px solid #0090af;
}

a.forgot-pw {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.8125rem;
  color: #0090af;
  padding: 0.625rem;
}

a.forgot-pw:hover,
a.ingreso-google:hover {
  opacity: 0.6;
}

.google {
  border: #0090af 0.0625rem;
  border-style: solid;
  width: 14.5694rem;
  height: 2.5rem;
  left: 51.4931rem;
  top: 37.6875rem;
  border-radius: 0.2159rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.google img {
  grid-area: 1 / 1 / 1 / 1;
  justify-self: center;
}

.ingreso-google {
  grid-area: 1 / 2 / 2 / 5;
}

.div-checkout {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 9%;
  padding: 10px;
}

.div-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}

.logged-user {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  color: white;
  cursor: pointer;
}

.delete-btn:hover,
.btn-unlike:hover {
  filter: invert(10%) sepia(85%) saturate(6989%) hue-rotate(7deg)
    brightness(78%) contrast(112%);
}
