.container-students {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-students {
  background-color: white;
  width: 80%;
}

.table-students table {
  width: 100%;
}

.table-students table th {
  border: none;
  text-transform: uppercase;
  color: #007792;
}

.table-students td,
th {
  border: none;
}

.table-students table {
  border-spacing: 0;
}

.table-students table tbody tr {
  margin: 0.625rem 0;
  outline: 1px solid #cccccc;
  border-radius: 10px;
}

.table-students table tbody tr .student-user-name:hover {
  color: #0090af;
}
.table-students table tbody tr:hover {
  outline: 2px solid #0090af;
}

.table-students table tr td:first-child {
  font-weight: 600;
}

.search-student {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  position: inherit;
  justify-content: right;
  margin-right: 5%;
}

.search-container input {
  display: flex;
  background: #fafafa;
  border: 0.0809rem solid #cccccc;
  border-right: none;
  border-top-left-radius: 0.4419rem;
  border-bottom-left-radius: 0.4419rem;
  padding: 0.5rem;
  width: 25rem;
}

.search-box form {
  display: flex;
  flex-direction: row;
  margin-right: 0.5rem;
}

.icon {
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem 1.5rem;
  display: inherit;
}

.search {
  background-image: url("search.png");
}

.search-box button {
  height: 100%;
  width: 100%;
  border-top-right-radius: 0.4419rem;
  border-bottom-right-radius: 0.4419rem;
  background: #fafafa;
  border: 0.0809rem solid #cccccc;
  border-left: none;
  padding-right: 0.5rem;
}

.new-student-icon {
  background-image: url("new-user-icon.png");
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem 1.5rem;
  display: inherit;
}

td a {
  color: inherit;
}

.student-table {
  display: flex;
  align-items: center;
  text-align: left;
}

.table-students table tr td:first-child,
.table-students table tr th:first-child {
  text-align: left;
}

.error-msg {
  background-color: rgb(255, 118, 118);
  color: darkred;
  border: solid 0.0625rem darkred;
  border-radius: 0.3rem;
  padding: 0.5rem;
  position: fixed;
  top: 10%;
}

.notice-msg {
  background-color: rgb(135, 255, 135);
  color: darkgreen;
  border: solid 0.0625rem darkgreen;
  border-radius: 0.3rem;
  padding: 0.5rem;
  position: fixed;
  top: 10%;
}

.container-msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-student-button {
  padding: 0 1rem;
}

.edit-student-button a:hover {
  opacity: 0.5;
}

.delete-student-container {
  position: relative;
}

.delete-btn {
  position: absolute;
  left: 3.5rem;
  transform: translateY(50%);
  bottom: 50%;
  cursor: pointer;
}

.modal-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  background: #dadada;
  border: 0.0625rem solid #d95234;
  box-shadow: -0.125rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 25rem;
  height: 10.9375rem;
  left: -23.6rem;
  bottom: 50%;
  transform: translateY(50%);
}

.modal-delete::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%) translateX(50%);
  border: 0.0625rem solid #d95234;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.875rem 0 1.875rem 1.875rem;
  border-color: transparent transparent transparent #dadada;
}

.text-modal-delete {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  color: #474747;
}

.delete-btn-modal {
  width: 7.3125rem;
  height: 2.0625rem;
  background: #0090af;
  border-radius: 0.25rem;
  box-shadow: none;
  color: white;
  border: none;
}
