* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.user-body {
  background:#FAFAFA;

}

.user-titulo {
  text-align: center;
  background: #0090AF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border-bottom: 30px solid white;
  padding: 10px;

}

.user-table {
  border-collapse: collapse;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.user-tr { 
  border: 1px solid #DADADA;
}

table th,
table td {
  padding: 15px;
  text-align: center;
}



th, td {
  padding: 30px;
  border: 1px solid #DADADA;

}

.user-th-name, .user-th-lastname, .user-th-email, .user-th-edit {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #007792;
  text-align: center;
}

.user-td-name, .user-td-lastname {
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #474747;

}

.user-td-email {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #474747;

}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form-users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-users-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px;

}

.user-create-button, .user-edit-button { 
  padding: 12px;
  gap: 10px;
  background: #0090AF;
  border-radius: 4px;
}

#user_filter_query {
  background: #FAFAFA;
  border: 1.29514px solid #CCCCCC;
  border-radius: 7.06992px;
  padding: 8px 14px;
}

a {
  text-decoration: none;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  
}

input:checked + .slider {
  background-color: #0090AF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0090AF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}